.qa{
  .page-container{
    width: 100%;
    margin: 0 auto;
    @media (min-width: $screen-sm) {

    }
    @media (min-width: $screen-md) {
      width: 825px;
    }
  }



  .pagination{
    width: 100%;
    text-align: center;

    ul{
      display: inline-block;
      background-color: $orange;
      padding: 6px;
      position: relative;
      &:before, &:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: 0;

      }
      &:before{
        left: -16px;
        border-width: 18px 16px 18px 0;
        border-color: transparent #f16c24 transparent transparent;
      }
      &:after{
        right: -16px;
        border-width: 18px 0 18px 16px;
        border-color: transparent transparent transparent #f16c24;
      }
      li{
        padding: 0 20px;

        a{
          @include font-size(24,auto,1);
          color: #fff;
          padding: 2px 7px;

          &.active{
            color: $orange;
            background-color: #fff;
          }
        }
      }
    }
  }
}