.registration-form{
  text-align: center;
   h1{
     color: #fff;
     @include font-size(29,26,1);
     font-family: 'ul',sans-serif;
     background-color: $gray;
     padding: 10px 40px;
     display: inline-block;
     @media (min-width: $screen-sm) {
       @include font-size(29,26,700);
       padding: 10px 60px;
     }
   }
  form{
    text-align: left;
    @include font-size(20,30,1);
    padding: 35px 0;
    div{
      position: relative;
      padding: 5px 0;
    }
    label{
      font-family: 'ub',sans-serif;
      text-transform: uppercase;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"]{
      border: 0;
      width: 100%;
      display: inline-block;
      vertical-align: bottom;
      border-bottom: 1px solid $gray;
      font-family: 'ul', sans-serif;

    }
    ol{
      margin: 0;
      padding: 0;
      li{
        list-style: none;

        @media (min-width: $screen-sm) {
          padding-left: 30px;
        }
      }
    }
    .add{
      font-size: .6em;
      @media (min-width: $screen-sm) {
        position: absolute;
        right: 0;
        bottom: 8px;
      }
    }
    .submit{
      text-align: right;
      button{
        font-size: 25px;
      }

    }
    //Custome line size
    @media (min-width: $screen-md) {
      input[name="group_name"]{
        width: 675px;
      }
      input[name="group_leader"]{
        width: 393px;
      }
      input.group-member{
        width: 546px;
      }
      input[name="group_leader_telephone"]{
        width: 502px;
      }
      input[name="group_leader_email"]{
        width: 645px;
      }
      input[name="group_leader_mobile"]{
        width: 542px;
      }
    }


  }
  .register-ok{
    text-align: center;
    width: 70%;
    margin: 40% auto;
    position: relative;

    h4{
      background-color: $orange;
      padding:5px 10px;
      color: #fff;
      font-family: 'ul',sans-serif;
      @include font-size(25,25,100);
      @media (min-width: $screen-sm) {
        @include font-size(42,42,700);
      }
      margin-bottom: 15px;
      position: relative;
    }
    h5{
      @include font-size(25,25,100);
      @media (min-width: $screen-sm) {
        @include font-size(42,42,280);
      }
    }
  }
  .register-ok, .register-ok h4{
    &:before{
      position: absolute;
      top: 9px;
      width: 100%;
      height: 18px;
      background-color: $gray;
      content: "";
      @media (min-width: $screen-sm) {
        top: 15px;
      }
    }
    &:after{
      content: "";
      position: absolute;
      top: -25px;
      @media (min-width: $screen-sm) {
        top: -17px;
      }
      @include retina-sprite(robot_hand);
    }
  }

  .register-ok{

    &:before{
      left: -115%;
    }
    &:after{
      @include retina-sprite(robot_hand);
      left: -58px;
      @media (min-width: $screen-sm) {
        left: -95px;
      }

    }
  }
  .register-ok h4{
    &:before{
      right: -115%;
    }
    &:after{
      @include retina-sprite(robot_hand_r);
      right: -58px;
      @media (min-width: $screen-sm) {
        right: -95px;
      }
    }
  }
}