AuthType Basic
AuthName "Prograthon"
AuthUserFile "/home4/ecotankc/.htpasswds/public_html/programathon/passwd"
require valid-user
RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.programathon.cr/$1 [R=301,L]