///////////////////////////////////////////////////
// GLOBAL
///////////////////////////////////////////////////

*,
*:before,
*:after {
  -moz-box-sizing: border-box; //this can be removed in due time
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-moz-focus-inner {
    border: 0;
  }
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
body{
  font-size: 12px;
  font-family: 'ul', sans-serif;
  color: $gray;
}
.overflow{
  overflow: hidden;
}
.alpha0 {
  opacity: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'ub',sans-serif;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  text-align: center;

}
p{
  margin: 0;
}
nav{
  ol,ul{
    padding: 0;
    margin: 0;
    text-align: center;

    li{
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      a{
        text-decoration: none;
        color: $gray;

        &:hover{
          color: $orange;
        }
      }
    }
  }
}
.btn, button{
  border: 0;
  font-family: 'ub',sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 0.14em;
  background-color: $blue;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;

  &:hover{
    background-color: $orange;
  }

  &[disabled]{
    background-color: $gray;
    cursor: default;
    pointer-event:none;
  }

}
.wrapper{

}
.content{
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.container{
  overflow: hidden;
  padding: 90px 15px 0;
  min-height: 340px;
}
.col{
  width: 360px;
}

.modal{
  width: 80%;
  height: 80%;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  .close{
    text-indent: -9999999px;
    display: block;
    float: right;
    @include retina-sprite(close);
  }
  .detail{

    color: #fff;
    @include font-size(60,60,1);
    text-transform: uppercase;
    font-family: 'ub',sans-serif;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 50px;
    margin: auto;
    width: 73%;
    top: 0;
    bottom: 0;
    height: 37%;
    position: absolute;
    left: 0;
    right: 0;
  }
}