<div class="qa">
  <div class="page-container">
    <div class="page page-1 active">
      <dl class="col left content-hand">
        <dt>Quis autem vel eum iure reprehenderit qui in ea voluptate velit nulla pariatur?"</dt>
        <dd>Sed ut perspiciatis unde omnis aperiam, eaque ipsa quae ab illo inventore veritatis eptas sit.</dd>
        <dt>Quis autem vel eum iure reprehenderit qui in ea voluptate velit nulla pariatur?"</dt>
        <dd>Sed ut perspiciatis unde omnis aperiam, eaque ipsa quae ab illo inventore veritatis eptas sit.</dd>
      </dl>
      <dl class="col right content-hand">
        <dt>Quis autem vel eum iure reprehenderit qui in ea voluptate velit nulla pariatur?"</dt>
        <dd>Sed ut perspiciatis unde omnis aperiam, eaque ipsa quae ab illo inventore veritatis eptas sit.</dd>
        <dt>Quis autem vel eum iure reprehenderit qui in ea voluptate velit nulla pariatur?"</dt>
        <dd>Sed ut perspiciatis unde omnis aperiam, eaque ipsa quae ab illo inventore veritatis eptas sit.</dd>
      </dl>
    </div>
    <div class="page page-2"></div>
    <div class="page page-3"></div>
  </div>

  <nav class="pagination clearfix">
    <ul>
      <li data-num="1"><a class="active" href="">1</a></li>
      <li data-num="2"><a href="">2</a></li>
      <li data-num="3"><a href="">3</a></li>
    </ul>
  </nav>
</div>