<div class="registration">
  <div class="content">
    <div class="wait">
      <span>Wait!</span>
      <h3>FIRST ANSWER</h3>
    </div>
    <div class="question">
      <form name="question">
        <p>{{getQuestion.title}}</p>
        <div class="option" ng-repeat="option in getQuestion.options">

          <input type="radio" value="{{$index}}" name="option" id="op-{{$index}}" ng-model="userAnswer.option" ng-required="true">
          <label for="op-{{$index}}">{{option}}</label>
        </div>

        <button ng-disabled="!question.$valid" ng-click="validateAnswer(userAnswer.option)">Send</button>
      </form>
    </div>

  </div>
</div>