<div class="registration-form">
  <div class="content">
    <h1>REGISTRATION</h1>
    <form name="registrationForm">
      <div>
        <label>GROUP NAME:</label>
        <input type="text" value="" name="group_name">
      </div>
      <div>
        <label>FIRST AND LAST NAME OF GROUP LEADER:</label>
        <input type="text" value="" name="group_leader">
      </div>
      <div>
        <label>GROUP MEMBERS: </label>
        <ol>
          <li ng-repeat="member in groupMembers">FIRST AND LAST NAME #{{$index+1}}:<input ng-model="member.name" type="text" value="" name="group_member{{$index+1}}" ></li>
        </ol>
        <button class="add" ng-hide="groupMembers.length>4" ng-click="addInput()">add</button>
      </div>
      <div>
        <label>LEADER’S TELEPHONE NUMBER:</label>
        <input type="text" value="" name="group_leader_telephone">
      </div>
      <div>
        <label>LEADER’S E-MAIL:</label>
        <input type="email" value="" name="group_leader_email">
      </div>
      <div>
        <label>LEADER’S MOBILE NUMBER:</label>
        <input type="text" value="" name="group_leader_mobile">
      </div>
      <div class="submit">
        <button ng-disabled="registrationForm.$valid">Send</button>
      </div>
    </form>
  </div>
</div>