<div class="tournament-description">
  <div class="content clearfix">

    <div class="intro">
      <h2>Hi,<br/>
        I'm Programathon!
      </h2>
      <p>Me and my friends at <strong>Fiserv</strong> created the <strong>first national programming championship</strong> for students and professionals of the
        <strong>IT area!</strong> </p>
      <p><strong>Social responsibility</strong> solutions are our main goal, we look to create a <strong>yearly championship</strong> in which
        <strong>FISERV</strong> and its allies provide the space and conditions for <strong>IT professionals and students</strong> to create a product or solution that responds to a specific
        <strong>social conflict in our country.</strong></p>
    </div>
    <div class="topics clearfix">
      <dl class="right content-hand">
        <dt>This year's challenge is to <strong>create an application</strong> that could be used by <strong>Fundación Omar Dengo</strong> in
          <strong>technology education for preschool children</strong>
        </dt>
        <dd><strong>Teams</strong> can be of <strong>4</strong> minimum and <strong>5</strong> max!</dd>
      </dl>
      <dl class="left content-hand">
        <dt>Participants will join a <strong>36 hours</strong> event in which they will have to complete a challenge.</dt>
        <dd>During this time, <strong>teams</strong> will complete different <strong>functionalities</strong> and
          <strong>win points</strong> depending on
          <strong>criteria</strong> such as: <strong>completeness</strong>, <strong>quality</strong> and
          <strong>time</strong>.
        </dd>
      </dl>
    </div>

    <div class="comment">
      <strong>Awesome prizes</strong> will be given to the
      teams that finish in the top 3 places.
    </div>
  </div>
</div>