<div class="tournament-description">
  <div class="content clearfix">

    <div class="intro">
      <h2>Hi,<br/>
        I'm Programathon!
      </h2>
      <p>Me, <stong>Fiserv</stong> and <strong>Fundación Omar Dengo</strong> created the <strong>first team programming competition</strong> for students and professionals of the
        <strong>IT area!</strong> </p>
      <p><strong>Social responsibility</strong> solutions is our main goal, we look to create a <strong>yearly competition</strong> in which
        <strong>FISERV</strong> and its allies provide the space and conditions for <strong>IT professionals and students</strong> to create a product or solution that responds to a specific
        <strong>social conflict in our country.</strong></p>
    </div>
    <div class="topics clearfix">
      <dl class="right content-hand">
        <dt>This year's challenge is to <strong>create an application</strong> that could be <strong>used</strong> by
          <strong>Fundación Omar Dengo</strong> in <strong>pre-school teaching of technology use.</strong>
        </dt>
        <dd><strong>Teams</strong> can be of <strong>4</strong> minimum and <strong>5</strong> max!</dd>
      </dl>
      <dl class="left content-hand">
        <dt>Participants will have <strong>36 straight hours</strong> of <strong>programming</strong> to complete the challenge.</dt>
        <dd><strong>Teams</strong> will constantly receive <strong>functionality winning points</strong> depending on different
          <strong>criteria</strong>, such as <strong>completeness</strong>, <strong>quality</strong> and <strong>time</strong>.
        </dd>
      </dl>
    </div>

    <div class="comment">
      <strong>Awesome prizes</strong> will be given to the
      team that finishes in the top 3 places.
    </div>
  </div>
</div>